[Unit]
Description=Takahe
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory={{ takahe_checkout_path }}
# Unbuffered output is needed, see https://stackoverflow.com/a/43877901/554319
ExecStart=docker-compose --env-file {{ takahe_env_file }} up
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
